.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/background.svg);
  background-size:100% 100%;
  background-size:cover;
}

.app-content {
  flex: 1;
  padding: 16px;
}

.app-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 64px; */
  width: 100%;
}

.app-nav > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.382);
}

footer > p {
  color: white;
}

.app-nav-image {
  position: relative;
  z-index: 1;
}

.app-nav-image > div {
  position: absolute;
  max-height: 250px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}


.app-nav-image img {
  max-width: 100%;
  z-index: -1;
}

.app-nav-image > svg {
  width: 100%;
  z-index: 99999;
}


